{% load static %}

<!--<link rel="stylesheet" href="{% static 'myapp/css/style.css'%}">-->
<!--<div class="row ">-->
<!--    <div class="card mb-3" style="max-width: 540px;">-->
<!--  <div class="row g-0">-->
<!--    <div class="col-md-4">-->
<!--      <img src="{% static 'myapp/images/Arun sir.png'%}" width="80px" class="img-fluid rounded-start" alt="...">-->
<!--    </div>-->
<!--    <div class="col-md-8">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Project Guide</h5>-->
<!--        <p class="card-text">This project is develop under the Guidance of <b><em>Mr. Arun Singh Yadav </em></b></p>-->
<!--        <p class="card-text"><small class="text-muted">.......................</small></p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div>
    <h5 class="text-center">Copyright © 2022 designed by Learn Skill Team, India. All rights reserved</h5>
</div>